# 1) Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

Salary(Lakhs) : Tax(%)

Below 5 : 0%

5-10 : 10%

10-20 : 20%

aboove 20 : 30%

In [2]:
def calculate(ctc):
    hra_deduction = 0.1 * ctc
    da_deduction = 0.05 * ctc
    pf_deduction = 0.03 * ctc
    
    taxable_income = ctc - hra_deduction - da_deduction - pf_deduction
    
    if ctc < 5:
        tax_percentage = 0
    elif 5 <= ctc < 10:
        tax_percentage = 0.1
    elif 10 <= ctc < 20:
        tax_percentage = 0.2
    else:
        tax_percentage = 0.3
    
    tax_amount = taxable_income * tax_percentage
    
    monthly_salary = (ctc - hra_deduction - da_deduction - pf_deduction - tax_amount) / 12
    
    return monthly_salary


ctc = float(input("Enter your CTC in Lakhs: ")) * 100000  # Convert Lakhs to actual amount
monthly_salary = calculate(ctc)
print(f"Your monthly salary after deductions is: {monthly_salary:.2f} INR")

Enter your CTC in Lakhs:  10

Your monthly salary after deductions is: 47833.33 INR

# 2)Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [5]:
def is_triangle(angle1, angle2, angle3):
    
    if angle1 > 0 and angle2 > 0 and angle3 > 0 and angle1 + angle2 + angle3 == 180:
        return True
    else:
        return False
angle1 = input("Enter first angle: ")
angle2 = input("Enter second angle: ")
angle3 = input("Enter third angle: ")
if angle1.isdigit() and angle2.isdigit() and angle3.isdigit():
    angle1 = int(angle1)
    angle2 = int(angle2)
    angle3 = int(angle3)
    if is_triangle(angle1, angle2, angle3):
        print("Yes, these angles can form a triangle.")
    else:
        print("No, these angles cannot form a triangle.")
else:
    print("Invalid input! Please enter valid angles (numeric values).")

Enter first angle:  150
Enter second angle:  35
Enter third angle:  70

No, these angles cannot form a triangle.

# 3) Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [26]:
def calculate(cost_price, selling_price):
    if cost_price <= 0 or selling_price <= 0:
        return "Invalid input: Prices must be positive numbers."
    if selling_price > cost_price:
        profit = selling_price - cost_price
        return f"Profit: You made a profit of {profit} units."
    elif selling_price < cost_price:
        loss = cost_price - selling_price
        return f"Loss: You incurred a loss of {loss} units."
    else:
        return "No Profit No Loss"
cost_price_str = input("Enter the cost price: ")
selling_price_str = input("Enter the selling price: ")
if cost_price_str.isdigit() and selling_price_str.isdigit():
    cost_price = float(cost_price_str)
    selling_price = float(selling_price_str)
    result = calculate(cost_price, selling_price)
    print(result)
else:
    print("Invalid input! Please enter valid numeric values for cost price and selling price.")

Enter the cost price:  150
Enter the selling price:  150

No Profit No Loss

# 4)Write a menu-driven program:- Write a menu-driven program -
cm to f,
km to mil,s
USD to ,NR
exit

In [1]:
def cm_to_ft(cm):
    return cm / 30.48

def km_to_miles(km):
    return km * 0.621371

def usd_to_inr(usd):
    return usd * 74.5  
def display_menu():
    print("which conversion you want do:")
    print("1. Convert CM to Feet")
    print("2. Convert KM to Miles")
    print("3. Convert USD to INR")
    print("4. Exit")


while True:
    display_menu()
    choice = input("Enter your choice (1/2/3/4): ")

    if choice == '1':
        cm = float(input("Enter length in CM: "))
        feet = cm_to_ft(cm)
        print(f"{cm} CM is equal to {feet:.2f} Feet.\n")
    elif choice == '2':
        km = float(input("Enter distance in KM: "))
        miles = km_to_miles(km)
        print(f"{km} KM is equal to {miles:.2f} Miles.\n")
    elif choice == '3':
        usd = float(input("Enter amount in USD: "))
        inr = usd_to_inr(usd)
        print(f"{usd} USD is equal to {inr:.2f} INR.\n")
    elif choice == '4':
        print("Exiting the program.")
        break
    else:
        print("Invalid choice! Please enter a valid option (1/2/3/4).\n")

which conversion you want do:
1. Convert CM to Feet
2. Convert KM to Miles
3. Convert USD to INR
4. Exit

Enter your choice (1/2/3/4):  1
Enter length in CM:  1

1.0 CM is equal to 0.03 Feet.

which conversion you want do:
1. Convert CM to Feet
2. Convert KM to Miles
3. Convert USD to INR
4. Exit

Enter your choice (1/2/3/4):  4

Exiting the program.

# 5)Display Fibonacci series up to 10 terms

In [9]:
def fibonacci_series(n):
    sequence = [0, 1]
    for i in range(2, n):
        next_num = sequence[-1] + sequence[-2]
        sequence.append(next_num)
    return sequence
num_terms = 10
series = fibonacci_series(num_terms)
print("Fibonacci series up to 10 terms:")
for term in series:
    print(term)

Fibonacci series up to 10 terms:
0
1
1
2
3
5
8
13
21
34

# 6)Find the factorial of a given number.

In [12]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)
n = int(input("Enter  integer to find its factorial: "))
if n < 0:
    print("Factorial is not defined for negative numbers.")
else:
    fact = factorial(n)
    print(f"The factorial of {n} is: {fact}")

Enter  integer to find its factorial:  3

The factorial of 3 is: 6

## 7)Reverse a given integer number

In [13]:
def reverse_integer(n):
    reversed_number = 0
    remainder = 0
    sign = -1 if n < 0 else 1
    n = abs(n)
    while n > 0:
        remainder = n % 10
        reversed_number = reversed_number * 10 + remainder
        n = n // 10
    return reversed_number * sign
n = int(input("Enter an integer to reverse: "))
reversed_number = reverse_integer(n)
print(f"The reversed number is: {reversed_number}")

Enter an integer to reverse:  53

The reversed number is: 35

# 8)Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

In [18]:
def find(n, current_sum=0):
    if n == 0:
        return current_sum
    if n % 5 == 0:
        return find(n - 1, current_sum)
    new_sum = current_sum + n
    if new_sum > 300:
        return new_sum
    return find(n - 1, new_sum)
N = int(input("Enter an integer N: "))
final_sum = find(N)
print(f"The sum from 1 to {N} : {final_sum}")

Enter an integer N:  100

The sum from 1 to 100 : 390

# 9)Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [23]:
total_sum = 0
count = 0
while True:
    num = int(input("Enter a number (enter 0 to stop): "))
    if num == 0:
        break
    total_sum += num
    count += 1
if count > 0:
    average = total_sum / count
else:
    average = 0
print("Sum of the numbers entered: ",total_sum)
print("Average of the numbers entered:", average)

Enter a number (enter 0 to stop):  1
Enter a number (enter 0 to stop):  2
Enter a number (enter 0 to stop):  0

Sum of the numbers entered:  3
Average of the numbers entered: 1.5

# 10)Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [24]:
result = []
for num in range(2000, 3201):
    if num % 7 == 0 and num % 5 != 0:
        result.append(num)
print(",".join(map(str, result)))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199